.formControl {
  margin-bottom: 25px !important;
  margin-top: 30px !important;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  transform: translate(92%, -50%);
}

@media only screen and (max-width: 770px) {
  .formControl {
    margin-bottom: 25px !important;
    margin-top: 30px !important;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    transform: translate(44%, -50%);
  }
}
