.container {
  margin: 50px 0;
}

.card {
  margin: 15px 15px 2% !important;
  width: 300px;
}

.confirmed {
  border-bottom: 10px solid rgba(0, 0, 255, 0.5);
}

.recovered {
  border-bottom: 10px solid rgba(0, 255, 0, 0.5);
}

.deaths {
  border-bottom: 10px solid rgba(255, 0, 0, 0.5);
}

.newCases {
  border-bottom: 10px solid rgba(255, 190, 13, 0.5);
}

@media screen and (max-width: 400px) {
  .card {
    margin: 15px 15px 2% !important;
    width: 76%;
  }
}
