.body {
  background-color: rgb(250, 250, 250);
}

.container {
  width: 99%;
}

.image {
  width: 50%;
  transform: translate(51%, 7%);
  margin-bottom: 50px;
  margin-top: 50px;
  margin-right: auto;
}

@media only screen and (min-width: 1580px) {
  .container {
    width: 99%;
  }
  .image {
    display: "inline";
    position: relative;
    left: "50%";
    top: "50%";
    width: 40%;
    transform: translate(75%, 7%);
    margin-top: 50px;
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 770px) {
  .container {
    width: 96.8%;
  }
  .image {
    display: "inline";
    position: relative;
    left: "50%";
    top: "50%";
    width: 85%;
    transform: translate(10%, 7%);
    margin-top: 50px;
    margin-bottom: 15px;
  }
}
